.home {
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    /* padding: 20px; */
  }
  
  .home h1 {
    font-size: 2.5rem;
    color: #333;
    margin: 300px 0 2000px 0;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .home p {
    font-size: 1.2rem;
    color: #555;
    margin-top: 0;
    font-weight: 500;
    line-height: 1.6;
    max-width: 600px;
  }
  
  .sectionTitle {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-top: 40px;
    text-align: center;
  }

  .categories {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    margin: 50px;
    width: 100%;
  }
  
  .categoryCard {
    width: 20%;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .categoryCard img {
    max-width: 100%;
    border-radius: 8px;
  }
  
  .categoryCard h3 {
    font-size: 1.5rem;
    color: #333;
    margin-top: 15px;
  }
  
  .categoryCard a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
    font-weight: 600;
  }

  .sectionTitle {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-top: 40px;
    text-align: center;
  }
  
  .benefits {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    margin: 50px;
    width: 100%;
  }
  
  .benefitCard {
    background: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 20%;
  }
  
  .benefitIcon {
    font-size: 3rem;
    display: block;
    margin-bottom: 10px;
    filter: grayscale(100%);
  }
  
  .benefitCard:hover .benefitIcon {
    filter: grayscale(0%);
  }

  .benefitCard h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .benefitCard p {
    font-size: 1rem;
    color: #555;
  }

  .reviews {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    margin: 50px;
    width: 100%;
  }
  
  .reviewCard {
    background: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
  }
  
  .reviewImage {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .reviewCard h3 {
    font-size: 1.3rem;
    color: #333;
    margin-bottom: 5px;
  }
  
  .reviewCard p {
    font-size: 1rem;
    color: #555;
    font-style: italic;
  }
  