
.searchContainer {
    display: flex;
    align-items: center;
    position: relative;
    width: 50%;
    margin: 20px;
    justify-content: center;
  }
  
  .inputWrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .searchInput {
    width: 100%;
    padding: 8px 30px 8px 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 14px;
    background-color: #fff;
  }
  
  .clearButton {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    color: #ffa200;
  }
  
  .searchButton {
    margin-left: 10px;
    background: black;
    color: white;
    border: none;
    padding: 6px 8px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .searchButton:hover {
    background: #ffa200;
  }
  .searchInput:focus {
    border-color: #ffa200;
    box-shadow: 0 0 5px rgba(255, 162, 0, 0.5);
    outline: none;
}